/* Main Layout */

section.ant-layout {
	background-color: #fff;
    min-height: 100vh;
}

section.ant-layout h1{
    color: white;
}

/* TimeLine Header */

.timeline-header h2 {
	background-color: #fcfcfc;
	color: #637fce;
	text-align: center;
	padding: 10px 0;
}

button.ant-btn.ant-btn-primary {
	background-color: #aab9e3;
	border-color: initial;
	color: white;
	border-radius: 3px;
}

.timeline-top {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	border-bottom: 1px solid #d7def1;
}

.timeline-top h3 {
	font-size: 23px;
	padding-left: 5px;
}

.timeline-bottom {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 12px 0;
}

.timeline-bottom button {
	margin-right: 12px;
}

.arrows {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: -100px;
	top: 200px;
	padding-left: 37px;
}

.arrows svg {
	height: 20px;
	width: 20px;
	margin: 12px 0;
}

@media only screen and (max-width: 768px) {
	.arrows {
		position: relative;
		top: initial;
		left: initial;
	}
	.timeline-bottom {
		justify-content: space-between;
	}
}


/* Timeline List */

.timeline {
	margin: 0 auto;
	width: 460px;
	max-width: 96%;
}


/* Events */

.event {
	display: flex;
	justify-content: space-around;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
}

.focused-event {
	background-color: #edf0f9;
}

.timestamp {
	margin-right: 10px;
}

.circle {
	position: relative;
	height: 40px;
	width: 10px;
	border-left: 1px dashed #5d7bcd;
}

.circle div {
	position: absolute;
	left: -6px;
	width: 11px;
	height: 11px;
	margin-top: 15px;
	background-color: #fff;
	border: 2px solid transparent;
	border-radius: 100px;
	color: #5574ca;
	border-color: #5574ca;
}

.fe-date {
	background-color: #f1f1f1;
	padding: 4px 10px;
	margin: 2px 0 2px 33px;
	width: 95px;
	font-weight: 600;
}

.method {
	width: 90px;
}

.post .ant-tag {
	color: #a5dbbe;
	border-color: #a5dbbe;
}

.get .ant-tag {
	color: #9dd3eb;
	border-color: #9dd3eb;
}

.delete .ant-tag {
	color: #cbcf39;
	border-color: #cbcf39;
}

.put .ant-tag {
	color: #f7ca90;
	border-color: #f7ca90;
}

.auth .ant-tag {
	color: #ada9db;
	border-color: #ada9db;
}

.method .ant-tag {
	border-radius: 10px;
	line-height: 13px;
}

.path {
	width: 180px;
}